.list-banner {
  width: 100%;
  position: fixed;
  height: @banner-header;
  top: @header-height;
  background-color: @secondary-background-color;
  color: @secondary-color;
  font-size: 2.2rem;
  padding: 20px;
}

#content {
  width: 100%;
  position: relative;
  top: 180px;
  background-color: @main-background-color;
  height: 1500px;
}
