@import './detail-addons';

.detail-info {
  height: 100%;
  background-color: @main-background-color;
  text-align: left;
  margin-bottom: 50px;

  &__title {
    width: 100%;
    color: @main-color;
    font-size: 2.2rem;
    font-weight: bold;
    padding: 25px 80px 25px 80px;
    text-align: right;
    height: 70px;
  }

  &__details {
    margin: 0;
    padding: 10px 5vw;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
  }

  &__images,
  &__description {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    padding: 5px 7px;
  }

  &__img {
    width: 100%;
  }
  &__description {
    text-overflow: ellipsis;
    max-width: 50%;
    color: @text-color;
    font-size: 1.5rem;
    padding: 5px;
    text-align: left;
    text-indent: 1rem;
    position: relative;
  }

  &__header {
    color: @main-color;
    background-color: @main-color-8;
    font-weight: bold;
    padding: 10px 6px;
    margin-bottom: 15px;
    height: 40px;

    &__title {
      float: left;
      display: inline-block;
      font-size: 2rem;
    }
    &__price {
      float: right;
      text-align: right;
      font-size: 1.8rem;
    }
  }
}


@media all and (max-width: @width-m) {
  .detail-info {

    &__title {
      font-size: 2rem;
    }

    &__details {
      flex-flow: column wrap;
    }
    &__description {
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
}
