@main-color: #613854;
@secondary-color: #FFFFFF;
@text-color: #777777;
@text-color-highlighted: #090508;

@main-background-color: #FAFAFA;
@secondary-background-color: #613854;

@main-color-1: #704B65;
@main-color-2: #805F76;
@main-color-3: #907387;
@main-color-4: #a08798;
@main-color-5: #b09ba9;
@main-color-6: #bfafba;
@main-color-7: #cfc3cb;
@main-color-8: #dfd7dc;
@main-color-9: #EFEBED;

@main-darker-color: #47293E;

@shadow-color: @main-color-9;


@loader-z-index: 10000;
@header-z-index: 100;

@header-height: 80px;
@banner-header-height: 80px;

@width-x: 1100px;
@width-l: 900px;
@width-m: 700px;
@width-s: 500px;

@show-hide-animation: 0.5s ease;
